* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $gray;
  color: $dark-blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

input,
textarea {
  border: none;
}

textarea {
  resize: none;
}

section {
  text-align: center;
}